<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block naslov %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="glava-levo">
        <a href="/">Domov</a>
        <a href="/o_meni">O meni</a>
        <a href="/moji_projekti">Moji projekti</a>
        <a href="/blog">Blog</a>
        <a href="/kontakt">Kontakt</a>
    </div>
    {% block vsebina %}{% endblock %}
    <div class="noga-levo">
        <a href="/">Domov</a>
        <a href="/o_meni">O meni</a>
        <a href="/moji_projekti">Moji projekti</a>
        <a href="/blog">Blog</a>
        <a href="/kontakt">Kontakt</a>
        <div class="noga-desno">
            <p>To stran ste obiskali: {{ datum_in_ura }}</p>
        </div>
    </div>

</body>
</html>