{% extends "base.html" %}
{% block naslov %}Ziga | Kontakt{% endblock %}
{% block vsebina %}
<div class="naslov">
    <p>Kontakt</p>
</div>
<h2>Povezave:</h2>
<a href="https://www.facebook.com/ziga.fende">
    <img src="http://seeklogo.com/images/F/facebook-logo-C64946D6D2-seeklogo.com.png" alt="fb">
</a>
<br>
<a href="https://twitter.com/zfende">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/300px-Twitter_bird_logo_2012.svg.png" alt="tw">
</a>
{% endblock %}
